* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: linear-gradient(315deg, #bdd4e7 0%, #8693ab 74%);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

body .container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(255, 255, 255, 0.062);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #131313;
  height: 500px;
  width: 750px;
  border-radius: 7px;
}

body .container Nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-content: space-between;
  height: 2.5rem;
  width: 100%;
  margin-top: 5%;
  background-color: rgba(0, 0, 0, 0.103);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  color: #f0f2f4;
}
.city{
  white-space: nowrap;
}
.icon img{
  transform: translateY(-40%) translateX(-14px);
}
body .container Nav .timezone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 8%;
  font-size: 28px;
}

body .container Nav .search {
  margin-left: 29%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

body .container Nav .search #location {
  position: relative;
  height: 2rem;
  font-size: 18px;
  max-width: 220px;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.568);
  color: rgba(0, 0, 0, 0.815);
}

body .container Nav .search .loc-list {
  max-width: 220px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  background-color: rgba(255, 255, 255, 0.342);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.go{
  height: 2rem;
  width: 2.4rem;
  background-color: #8693ab;
  border: none;
  border-radius: 2px;
  color: #f0f2f4;
  cursor: pointer;
}
.go:active{
  background-color: #7e8ba1;
  color: #dadcdd;
}

body .container .weather {
  position: inherit;
  top: 50%;
  left: 45%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-align: center;
}

body .container .weather .temprature {
  margin-bottom: 15px;
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */